
@font-face {
  font-family: 'H';
  src: url('../HakgyoansimWoojuR.ttf') format('truetype');
  font-style: normal;
}

.formContainer {
  font-family: 'H';
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.inputGroup {
  font-family: 'H';
  margin-bottom: 15px;
}

.label {
  font-family: 'H';
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  font-family: 'H';
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.textArea {
  font-family: 'H';
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;

}

.button {
  font-family: 'H';
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  font-family: 'H';
  background-color: #0056b3;
}

.h {
  font-family: 'H';
  display: block;
  text-align: center;
}